body {
  background-color: #eae8fe;
}
section {
  width: 360px;
}

p {
  font-size: 0.9rem;
}

/* 전역 스타일링 */

header {
  width: 100%;
  text-align: center;
  margin-bottom: 67px;
}

header h1 {
  width: 386px;
  height: 180px;
  margin: 0 auto;
}
header h1 img {
  width: 100%;
}

#wrap {
  display: flex;
  justify-content: center;
  gap: 28px;
}

#vendingMachine {
  padding: 31px 27px 28px;
  background-color: white;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.item-list .item {
  width: 94px;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.item-list .item.active {
  outline: 3px solid #6327fe;
}

.item-list .item.soldOut {
  outline: none;
}

.item-list .item.soldOut::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8) url("../assets/images/Sold-out.png") center/70%
    no-repeat;
}

.item-list .item-img {
  width: 36px;
  margin-top: 11px;
}

.item-list .item-name {
  margin-top: 6px;
}

.item-list .item-price {
  font-size: 1.2rem;
  line-height: 12px;
  margin: 7px 11px 9px 13px;
  padding: 5px 16px 5px 15px;
  color: #fff;
  background-color: #6327fe;
  border-radius: 50px;
}

.item-calculation {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.item-calculation *,
.item-get * {
  border-radius: 5px;
}

.item-calculation .item-balance {
  width: 200px;
  font-size: 1.4rem;
  line-height: 20px;
  padding: 6px 10px;
  background-color: #eae8fe;
  display: flex;
  justify-content: space-between;
}

.item-calculation button,
.item-get button {
  width: 94px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
  line-height: 19px;
  padding: 6px 9px 7px 10px;
}
.item-calculation .item-put-money {
  display: flex;
  gap: 12px;
}

.item-calculation input {
  width: 200px;
  padding: 6px 6px 5px;
  border: 1px solid #bdbdbd;
  line-height: 19px;
  box-sizing: border-box;
}

.item-get {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.item-get .item-get-list {
  overflow-y: auto;
  width: 200px;
  height: 106px;
  padding: 12px 0 12px 12px;
  border: 1px solid #bdbdbd;
  background-color: #eae8fe;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.item-get .item-get-list::-webkit-scrollbar {
  width: 12px;
  height: 100%;
}
.item-get .item-get-list::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 16px;
  background-clip: padding-box;
  border: 4px solid transparent;
}
.item-get .item-get-list::-webkit-scrollbar-track {
  background-color: #eae8fe;
  border-radius: 5px;
}

.item-get .item-get-list li {
  width: 170px;
  height: 48.5px;
  padding: 8px 8px 8px 10px;
  background-color: white;
  display: flex;
  align-items: center;
}

.item-get .item-get-list img {
  width: 18px;
  border-radius: 0;
  margin-right: 10px;
}

.item-get .item-get-list .item-quantity {
  font-size: 1.4rem;
  line-height: 20px;
  margin-left: auto;
  padding: 4px 11px 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.item-get .item-get-btn {
  height: 106px;
  background-color: #6327fe;
  color: white;
}

#getItemAndMoney .money {
  padding: 9px 27px;
  background-color: white;
  margin-bottom: 20px;
}

#getItemAndMoney .money p {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  font-size: 1.4rem;
  line-height: 20px;
  background-color: #eae8fe;
  border-radius: 5px;
}
#getItemAndMoney .money p strong {
  font-weight: 700;
}

#getItemAndMoney .item-result-box {
  background-color: white;
  height: 474px;
}
#getItemAndMoney .item-result-box .result-title {
  padding-top: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 20px;
}

#getItemAndMoney .item-get-result-list {
  width: 306px;
  height: 364px;
  margin: 13px auto 0;
  background-color: #eae8fe;
  padding: 12px 0 0 12px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow-y: auto;
}

#getItemAndMoney .item-get-result-list li {
  width: 276px;
  height: 46px;
  padding: 6px 8px 7px 10px;
  background-color: white;
  margin-bottom: 6px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#getItemAndMoney .item-get-result-list li img {
  width: 18px;
  border-radius: 0;
  margin-right: 10px;
}

#getItemAndMoney .item-get-result-list li .item-quantity2 {
  font-size: 1.4rem;
  line-height: 20px;
  margin-left: auto;
  padding: 4px 11px 6px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
#getItemAndMoney .item-get-result-list li:last-child {
  margin-bottom: 0px;
}

#getItemAndMoney .item-get-result-list li img {
  width: 18px;
}
#getItemAndMoney .sum {
  width: 306px;
  margin: 6px auto 0;
  text-align: right;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  body {
    background-color: #fff;
  }

  /* 전역 스타일링 */

  header {
    margin-bottom: 18px;
  }

  header h1 {
    width: 166px;
    height: 100%;
  }

  #wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  #vendingMachine {
    padding: 0;
  }

  .item-list,
  .item-calculation,
  .item-get {
    justify-content: center;
  }

  .item-get .item-get-list::-webkit-scrollbar {
    width: 12px;
    height: 100%;
  }
  .item-get .item-get-list::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 16px;
    background-clip: padding-box;
    border: 4px solid transparent;
  }
  .item-get .item-get-list::-webkit-scrollbar-track {
    background-color: #eae8fe;
    border-radius: 5px;
  }

  .item-get .item-get-list li {
    width: 170px;
    padding: 6px 8px 7px 10px;
    background-color: white;
  }

  .item-get .item-get-list img {
    width: 18px;
    border-radius: 0;
  }

  .item-get .item-get-btn {
    height: 106px;
    background-color: #6327fe;
    color: white;
  }

  #getItemAndMoney .money {
    padding: 0;
    background-color: white;
    margin: 20px auto 41px;
  }

  #getItemAndMoney .money p {
    width: 306px;
    margin: 0 auto;
  }
  #getItemAndMoney .item-result-box .result-title {
    padding-top: 0;
  }
}
